
/* Header */

.contenedorTiposRecetasHeader{
    width: 100%;
    display: flex;
    align-items: center;
    /* Scroll*/
    overflow-x: auto;
    background-color:rgb(224, 224, 224);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Main */

.contenedorRecetasMain{
    margin-top: 10px;
    gap: 4vw;
    padding: 1vw;
    display: grid;
    /* Distribuye automáticamente los elementos en columnas */
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
     /* Alinea los elementos al inicio del contenedor */
    justify-content: flex-start;
}

.ImagenMain{
    display: flex;
    margin: 0px auto;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 10%; 
    border-top-right-radius: 10%;
  
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.img-main{
    width: 28vw;
    height: 25vw;
    border-top-left-radius: 10%; 
    border-top-right-radius: 10%;
}

@media (max-width: 400px) {
    .contenedorRecetasMain{
        gap: 5vw;
    }
}

