/* Header */

.contenedorTiposRecetasHeader {
    width: 100%;
    display: flex;
    align-items: center;
    /* Scroll*/
    overflow-x: auto;
    background-color: rgb(224, 224, 224);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Main */

.contenedorRecetasMain {
    margin-top: 4%;
    margin-bottom: 4%;
    gap: 4vw;
    padding: 1vw;
    display: grid;

    /* Distribuye automáticamente los elementos en columnas */
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

@media (max-width: 700px) {
    .contenedorRecetasMain {
        gap: 5vw;
        padding-left: 40px;
        padding-right: 40px;
    }
}